/*Main home*/
nav#main_home {
	display: block;
	margin: 0 0 15px 0;
	padding: 8px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: rgba(48,145,69,1);
	background: -moz-linear-gradient(top, rgba(48,145,69,1) 0%, rgba(53,156,77,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,145,69,1)), color-stop(100%, rgba(53,156,77,1)));
	background: -webkit-linear-gradient(top, rgba(48,145,69,1) 0%, rgba(53,156,77,1) 100%);
	background: -o-linear-gradient(top, rgba(48,145,69,1) 0%, rgba(53,156,77,1) 100%);
	background: -ms-linear-gradient(top, rgba(48,145,69,1) 0%, rgba(53,156,77,1) 100%);
	background: linear-gradient(to bottom, rgba(48,145,69,1) 0%, rgba(53,156,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#309145', endColorstr='#359c4d', GradientType=0 );
}

nav#main_home ul {
	display: block;
	margin: 0;
	padding: 0;
}

nav#main_home ul > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav#main_home ul > li > a {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	display: block;
	margin: 0 5px 0 0;
	padding: 4px 9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

nav#main_home ul > li > a.active {
	background-color: #FFFFFF;
	color: #000;
}

nav#main_home ul > li > a:hover,
nav#main_home ul > li > a:focus {
	background-color: #FFFFFF;
	color: #000;
}

nav#main_home ul > li > a.m_home:before {
	content: "\f015";
	font-family: "FontAwesome";
	font-weight: normal;
	font-size: 20px;
	margin-right: 4px;
}

nav#main_home ul > li > a.m_clinica:before {
	content: "\f0f7";
	font-family: "FontAwesome";
	font-weight: normal;
	font-size: 20px;
	margin-right: 4px;
}

nav#main_home ul > li > a.m_servicios:before {
	content: "\f1cd";
	font-family: "FontAwesome";
	font-weight: normal;
	font-size: 20px;
	margin-right: 4px;
}

nav#main_home ul > li > a.m_preguntas:before {
	content: "\f059";
	font-family: "FontAwesome";
	font-weight: normal;
	font-size: 20px;
	margin-right: 4px;
}

nav#main_home ul > li > a.m_videos:before {
	content: "\f144";
	font-family: "FontAwesome";
	font-weight: normal;
	font-size: 20px;
	margin-right: 4px;
}

nav#main_home ul > li > a.m_ubicacion:before {
	content: "\f192";
	font-family: "FontAwesome";
	font-weight: normal;
	font-size: 20px;
	margin-right: 4px;
}

nav#main_home ul > li > a.m_cita:before {
	content: "\f045";
	font-family: "FontAwesome";
	font-weight: normal;
	font-size: 20px;
	margin-right: 4px;
}

nav#main_home ul > li > a.m_contacto:before {
	content: "\f098";
	font-family: "FontAwesome";
	font-weight: normal;
	font-size: 20px;
	margin-right: 4px;
}



@media (min-width: 993px) and (max-width: 1199px) {
	/*Seccion (Home)*/
	nav#main_home ul > li > a {
		margin: 0 1px 0 0;
		padding: 4px 7px;
	}
	
	nav#main_home ul > li > a:before,
	nav#main_home ul > li > a.m_home:before,
	nav#main_home ul > li > a.m_clinica:before,
	nav#main_home ul > li > a.m_servicios:before,
	nav#main_home ul > li > a.m_preguntas:before,
	nav#main_home ul > li > a.m_videos:before,
	nav#main_home ul > li > a.m_ubicacion:before,
	nav#main_home ul > li > a.m_cita:before,
	nav#main_home ul > li > a.m_contacto:before {
		font-size: 18px;
	}
}

@media (max-width: 992px) {
	/*Seccion (Home)*/
	nav#main_home ul > li > a {
		margin: 2px 1px 2px 0;
		padding: 4px 5px;
		font-size: 15px;
	}
	
	nav#main_home ul > li > a:before,
	nav#main_home ul > li > a.m_home:before,
	nav#main_home ul > li > a.m_clinica:before,
	nav#main_home ul > li > a.m_servicios:before,
	nav#main_home ul > li > a.m_preguntas:before,
	nav#main_home ul > li > a.m_videos:before,
	nav#main_home ul > li > a.m_ubicacion:before,
	nav#main_home ul > li > a.m_cita:before,
	nav#main_home ul > li > a.m_contacto:before {
		display: none;
	}
}

@media (max-width: 768px) {

	nav#main_home {
		position: relative;
		min-height: 42px;
	}

	nav#main_home:before {
		content: "MENU";
	  position: absolute;
	  left: 12px;
	  top: 10px;
	  font-size: 15px;
	  color: #FFF;
	}

	nav#main_home > i.fa-bars {
		display: block;
		position: absolute;
		font-size: 22px;
	  right: 12px;
	  top: 10px;
		color: #FFF;
	}
	
	nav#main_home > i.fa-bars:hover {
		cursor: pointer;
	}

	nav#main_home ul {
		display: block;
		height: 100%;
		margin: 1px 0 0 0;
		padding: 7px 10px;
		position: fixed;
		background-color: #272822;
		width: 100%;
		max-width: 250px;
		right: -270px;
		top: 0px;
		z-index: 999;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}

	nav#main_home ul.open {
		right: 0px;
	}

	nav#main_home ul > li {
		display: block;
		margin-bottom: 5px;
	}

	nav#main_home ul > li.m_head {
		display: block !important;
	  background-color: #181815;
	  margin: -7px -10px 10px -10px;
	  border-bottom: 1px solid #403F3F;
	  padding: 15px 15px;
	}

	nav#main_home ul > li.m_head > span.text1 {
		color: #FFF;
		font-size: 18px;
	}

	nav#main_home ul > li.m_head > i.fa-times-circle {
		float: right;
		color: #FFF;
		font-size: 24px;
	}

	nav#main_home ul > li.m_head > i.fa-times-circle:hover {
		cursor: pointer;
	}

	nav#main_home ul > li > a {
		font-size: 15px;
		padding: 4px 10px;
	}
	
	nav#main_home ul > li > a:before,
	nav#main_home ul > li > a.m_home:before,
	nav#main_home ul > li > a.m_clinica:before,
	nav#main_home ul > li > a.m_servicios:before,
	nav#main_home ul > li > a.m_preguntas:before,
	nav#main_home ul > li > a.m_videos:before,
	nav#main_home ul > li > a.m_ubicacion:before,
	nav#main_home ul > li > a.m_cita:before,
	nav#main_home ul > li > a.m_contacto:before {
		display: inline-block;
		font-size: 20px;
		margin-right: 7px;
	}
}
