/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color: #4D4D4D;
	background-color: #6789C9;
}






/****************************************************
// HEADER
****************************************************/
.body_bg {
	margin-top: 15px;
	margin-bottom: 23px;
	padding-bottom: 15px;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.6);
}


/****************************************************
// HEADER & SLIDER HOME
****************************************************/
.body_bg .row.header {
	padding: 15px 0;
}

.body_bg .row.header .col_1 > .ctn {
	
}

.body_bg .row.header .col_2 > .ctn > .banner_top > img {
	float: right;
}

.body_bg .slider_home_ctn {
	margin-bottom: 15px;
	display: block;
}



/****************************************************
// COLUMN LEFT
****************************************************/
.body_bg .body_ctn .col_1 .ctn .main_left .box {
	margin: 0 0 20px 0;
	padding: 0;
}

.body_bg .body_ctn .col_1 .ctn .main_left .box > h3 {
	color: #FFFFFF;
	font-size: 21px;
	margin: 0 0 12px 0;
  padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(53,156,77,1);
	background: -moz-linear-gradient(top, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,156,77,1)), color-stop(100%, rgba(51,171,77,1)));
	background: -webkit-linear-gradient(top, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	background: -o-linear-gradient(top, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	background: linear-gradient(to bottom, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#359c4d', endColorstr='#33ab4d', GradientType=0 );
}

.body_bg .body_ctn .col_1 .ctn .main_left .box > h3 > i {
	font-size: 16px;
	margin: 0 7px 0 0;
}

.body_bg .body_ctn .col_1 .ctn .main_left .box > ul {
	margin: 0 0 0 15px;
	padding: 0;
	display: block;
}

.body_bg .body_ctn .col_1 .ctn .main_left .box > ul > li {
	margin: 0;
	padding: 0;
	display: block;
}

.body_bg .body_ctn .col_1 .ctn .main_left .box > ul > li > a {
	margin: 5px 0;
	padding: 0;
	display: block;
	color: #777;
	position: relative;
}

.body_bg .body_ctn .col_1 .ctn .main_left .box > ul > li > a:before {
	content: "\f101";
	font-family: "FontAwesome";
	font-size: 12px;
	margin-right: 5px;
}

.body_bg .body_ctn .col_1 .ctn .main_left .box > ul > li > a:hover,
.body_bg .body_ctn .col_1 .ctn .main_left .box > ul > li > a:focus {
	color: #555;
}



/****************************************************
// COLUMN CENTER
****************************************************/
.body_bg .body_ctn .col_2 > .ctn > .box {
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
}

.body_bg .body_ctn .col_2 > .ctn > .box h1, h2, h3, h4, h5, h6 {
	margin: 0 0 12px 0;
  text-align: left;
  padding: 0 10px 5px 0;
  font-size: 22px;
  color: #4D4D4D;
  font-weight: 400;
}

.body_bg .body_ctn .col_2 > .ctn > .box p {
  font-size: 15px;
  font-weight: 300;
  margin: 5px 0;
}

.body_bg .body_ctn .col_2 > .ctn > .box ul.cuadroMedico {
	display: block;
	margin: 0;
	padding: 10px 10px 10px 30px;
	overflow: hidden;
	background-color: #FBFBFB;
	border: 1px solid #EEEEEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.body_bg .body_ctn .col_2 > .ctn > .box ul.cuadroMedico > li {
	margin: 2px 0;
  padding: 0 0 0 2px;
  text-align: left;
  list-style: circle;
  float: left;
  width: 100%;
  max-width: 50%;
}



/****************************************************
// COLUMN RIGHT
****************************************************/
.body_bg .body_ctn .col_3 .ctn .box {
	margin: 0 0 15px 0;
	padding: 0;
}

.body_bg .body_ctn .col_3 .ctn .box > .alert {
	text-align: center;
}

.body_bg .body_ctn .col_3 .ctn .box > .alert > p {
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
	margin-top: 5px;
}




/****************************************************
// BOTTON
****************************************************/
.botttom_ctn {
	margin-bottom: 15px;
}

.botttom_ctn  #aseguradoras .barra {
  margin: 0 0 12px 0;
  padding: 7px 10px;
  color: #FFF;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgba(53,156,77,1);
	background: -moz-linear-gradient(top, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,156,77,1)), color-stop(100%, rgba(51,171,77,1)));
	background: -webkit-linear-gradient(top, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	background: -o-linear-gradient(top, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	background: linear-gradient(to bottom, rgba(53,156,77,1) 0%, rgba(51,171,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#359c4d', endColorstr='#33ab4d', GradientType=0 );
}


/****************************************************
// CONTACT FORM
****************************************************/
.body_bg .col_2 .box .formContacto fieldset .form-group label {
	text-align: left;
	display: block;
}









/****************************************************
// FOOTER
****************************************************/
footer.footer {
	display: block;
	margin: 25px 0 15px 0;
	padding: 0;
}

footer.footer .box .box_ctn {
	display: block;
	margin: 0;
	padding: 0;
} 

footer.footer .box .box_ctn > h3 {
	padding: 0px 0px 5px 0px;
  margin: 0px 0px 10px 0px;
	font-size: 20px;
	border-bottom: 1px solid #EEEEEE;
} 

footer.footer .box .box_ctn > ul {
	margin: 0 0 0 7px;
	padding: 0;
	display: block;
}

footer.footer .box .box_ctn > ul > li {
	margin: 0;
	padding: 0;
	display: block;
}

footer.footer .box .box_ctn > ul > li > a {
	margin: 5px 0;
	padding: 0;
	display: block;
	color: #777;
	position: relative;
	font-size: 14px;
}

footer.footer .box .box_ctn > ul > li > a:before {
	content: "\f101";
	font-family: "FontAwesome";
	font-size: 12px;
	margin-right: 5px;
}

footer.footer .box .box_ctn > ul > li > a:hover,
footer.footer .box .box_ctn > ul > li > a:focus {
	color: #555;
}


/****************************************************
// COPYRIGHT
****************************************************/
.ft_copyright {
	margin-bottom: 15px;
}

.ft_copyright .box {
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.ft_copyright .box_1 {
	margin-bottom: 10px;
}

.ft_copyright .box > p {
	margin: 2px 0;
	line-height: 1.7;
	font-family: 'Open Sans', sans-serif;
}














/****************************************************
// RESPONSIVE
****************************************************/
@media (min-width: 1200px) {
	/*Seccion (00)*/	
}




@media (max-width: 1200px) {
	/*Seccion (00)*/
}




@media (min-width: 992px) and (max-width: 1200px) {
	/*Seccion (00)*/
}






@media (max-width: 992px) {
	/*Seccion (00)*/
	.body_bg .body_ctn .col_2 > .ctn > .box,
	.body_bg .body_ctn .col_2 > .ctn > .box h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}

	footer.footer .box {
		margin-bottom: 15px;
	}

	footer.footer .box .box_ctn,
	footer.footer .box .box_ctn > h3 {
		text-align: center;
		border: 0;
	}

	footer.footer .box .box_ctn > ul {
		margin: 0;
		padding: 0;
	}

	footer.footer .box .box_ctn > ul > li > a:before {
		content: "";
	}

	footer.footer .box .box_ctn > ul {
		margin: 0;
		padding: 0;
	}
}





@media (min-width: 992px) {
	/*Seccion (00)*/
}



@media (min-width: 768px) and (max-width: 992px) {
	/*Seccion (00)*/
}






@media (min-width: 768px) and (max-width: 1200px) {
	/*Seccion (00)*/
}




@media (max-width: 768px) {

	/*Seccion (Home)*/
	.body_bg .row.header .col {
		margin: 5px 0;
	}

	.body_bg .row.header .col_1 > .ctn > .logo img,
	.body_bg .row.header .col_2 > .ctn > .banner_top img {
		margin: 0 auto;
		float: none !important;
	}
}




@media (max-width: 736px) {
	/*Seccion (00)*/
}


@media (min-width: 684px) {
	/*Seccion (00)*/
}

@media (max-width: 684px) {
	/*Seccion (00)*/
}


@media (min-width: 667px) and (max-width: 992px) { 
	/*Seccion (00)*/
}


@media (min-width: 667px) and (max-width: 768px) {
	/*Seccion (00)*/
}


@media (max-width: 667px) { 
	/*Seccion (00)*/
}


@media (min-width: 600px) and (max-width: 768px) {
	/*Seccion (00)*/
}


@media (max-width: 600px) {
	/*Seccion (00)*/
}

@media (min-width: 584px) {
	/*Seccion (00)*/
}

@media (max-width: 584px) {
	/*Seccion (00)*/
}

@media (min-width: 568px) and (max-width: 768px) {
	/*Seccion (00)*/
}



@media (min-width: 568px) and (max-width: 600px) {
	/*Seccion (00)*/
}


@media (max-width: 568px) {
	/*Seccion (00)*/
}


@media (min-width: 480px) and (max-width: 568px) {
	/*Seccion (00)*/
}


@media (max-width: 480px) {
	/*Seccion (00)*/
}


@media (min-width: 414px) and (max-width: 480px) { 
	/*Seccion (00)*/
}


@media (max-width: 414px) {
	/*Seccion (00)*/
}


@media (min-width: 384px) and (max-width: 600px) { 
	/*Seccion (00)*/
}

@media (min-width: 384px) and (max-width: 568px) {
	/*Seccion (00)*/
}

@media (min-width: 384px) and (max-width: 480px) { 
	/*Seccion (00)*/	
}

@media (max-width: 384px) { 
	/*Seccion (00)*/	
}

@media (min-width: 320px) and (max-width: 480px) { 
	/*Seccion (00)*/
}

@media (min-width: 320px) { 
	/*Seccion (00)*/	
}

@media (min-width: 240px) and (max-width: 480px) { 
	/*Seccion (00)*/
}


@media (min-width: 240px) and (max-width: 568px) {
	/*Seccion (00)*/
}

@media (min-width: 240px) and (max-width: 991px) {
	/*Seccion (00)*/
}






/****************************************************
// BREAK LINE CSS
****************************************************/

/**
* Orientacion (landscape - Horizontal)
* min-width: 992px
* max-width: 1024px
* iPad - PC 
*/
@media screen and (min-width: 992px) and (max-width: 1024px) and (orientation: landscape) {
	/*Seccion (00)*/
}




/**
* Orientacion (portrait - Vertical)
* max-width: 768px
*/
@media screen and (max-width: 768px) and (orientation: portrait) {
	/*Seccion (00)*/
}





/**
* Orientacion (landscape - Horizontal)
* max-width: 736px
* Iphone 6
*/
@media only screen and (max-width: 736px) and (orientation: landscape) {
	/*Seccion (00)*/
}








/**
* Orientacion (portrait - Vertical)
* max-width: 736px
* Iphone 6
*/
@media screen and (max-width: 736px) and (orientation: portrait) {
	/*Seccion (00)*/
}









	
/**
* Orientacion (portrait - Vertical)
* min-width: 600px
* max-width: 768px
* iPad
*/
@media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {
	/*Seccion (00)*/
}









/**
* Orientacion (landscape - Horizontal)
* Max-width: 600px
* Android (Nexus 4)
*/
@media (max-width: 600px) and (orientation:landscape) {
	/*Seccion (00)*/
}







/**
* Orientacion (landscape - Horizontal)
* max-width: 667px
* iPad
*/
@media only screen and (max-width: 667px) and (orientation: landscape) {
	/*Seccion (00)*/
}





/**
* Orientacion (landscape - Horizontal)
* min-width: 600px
* Android (Nexus 4)
*/
@media only screen  and (min-width: 600px) and (orientation:landscape) {
	/*Seccion (00)*/
}







/**
* Orientacion (portrait - Vertical)
* min-width: 568px
* max-width: 600px
* Kindle - Tablet - Ipad
*/
@media only screen and (min-width: 568px) and (max-width: 600px) and (orientation: portrait) {
	/*Seccion (00)*/
}



/**
* Orientacion Horizontal (landscape)
* width: 568px
* iPhone 5 
*/
@media only screen and (max-width: 568px) and (orientation: landscape) {
	/*Seccion (00)*/
}



/**
* Orientacion (landscape - Horizontal)
* min-width: 480px
* max-width: 568px
* iPhone
*/
@media only screen and (min-width: 480px) and (max-width: 568px) and (orientation: landscape) {
	/*Seccion (00)*/
}



/**
* Orientacion (portrait - Vertical)
* max-width: 414px
* Iphone 6 
*/
@media only screen and (max-width: 414px) and (orientation: portrait) {	
	/*Seccion (00)*/
}



/**
* Orientacion (landscape - Horizontal)
* min-width: 385px
* max-width: 480px
* iPhone 3+4 
*/
@media only screen and (min-width: 385px) and (max-width: 480px) and (orientation: landscape) {
	/*Seccion (00)*/	
}



/**
* Smartphone
* max-width: 384px
* Android (Nexus 4)
*/
@media only screen and (max-width: 384px) {
	/*Seccion (00)*/
}



/**
* Orientacion (portrait - Vertical)
* max-width: 384px
* Android (Nexus 4)
*/
@media only screen and (max-width: 384px) and (orientation: portrait) {
	/*Seccion (00)*/
}







/**
* Orientacion (portrait - Vertical)
* max-width: 375px
* Iphone 6
*/
@media only screen and (max-width: 375px) and (orientation: portrait) {
	/*Seccion (00)*/	
}



/**
* Orientacion (portrait - Vertical)
* max-width: 384px
* Android (Nexus 4) - Iphone 5
*/
@media only screen and (max-width: 320px) and (orientation: portrait) {
	/*Seccion (00)*/
}


/**
* max-width: 320px
*/
@media only screen and (max-width: 320px) {
	/*Seccion (00)*/	
}




/**
* Orientacion (portrait - Vertical)
* min-width: 240px 
* max-width: 384px
* Android (Nexus 4)  only screen and 
*/
@media only screen and (min-width: 240px) and (max-width: 384px) and (orientation: portrait) {
	/*Seccion (00)*/
}
